.main_masthead_image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.masthead_text1{
    font-size:75px;
    color: #c1ff72;
    font-style: italic;
}

.mainmasthead_col1{
    text-align: initial;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.mainmasthead_image{
    display: flex;
}

.mainImage{
    width:85%;
    height:70%;
    border-radius: 99% 1% 50% 50% / 49% 1% 99% 51%;
}

.explore_btn{
    background-color: #c1ff72;
    color: black;
    font-weight:bold;
    font-size: 18px;
    display: block;
    border: none;
    margin:2px;
}

.explore_btn:hover{
    background-color: #c1ff72;
    border: 2px solid white;
    color:black;
}

/* Information Section */

.information_section{
    color: white;
}

.information_heading #header{
    color: #c1ff72;
    font-size:50px;
}

.information_heading p{
    text-align: center;
}

.info_icon_div{
    text-align: center;
}

.info_icon_div:hover{
    color: #c1ff72;
}

.info_icon{
    height:130px;
    width:130px;
}

.info_desc p{
    text-align: center;
}

/* Best Sellers */

.best_seller_section{
    color: white;
    margin:20px 0;
}

.best_seller_header{
    text-transform: uppercase;
    color:#c1ff72;
    text-align: center;
}

.best_seller_text{
    text-align: center;
}

.best_seller_card{
    margin-top:10px;
    cursor: pointer;
}

.best_seller_img{
    height:80%;
    width: 100%;
    border-radius: 5px;
}

.best_seller_days_rate{
    display: flex;
    justify-content: space-between;
    margin-top:5px;
}

.seller_rate{
    color:#c1ff72;
    font-weight:bold;
}

.seller_description{
    font-size: 20px;
}

.view_all_package{
    background-color: #c1ff72;
    color: black;
    font-weight:bold;
    font-size: 18px;
    width:200px;
    display: block;
    border: none;
    margin:10px auto;
}

.view_all_package:hover{
    background-color: #c1ff72;
    border: 1px solid white;
    color:black;
}

/* Top Values */

.top_values_section{
    margin: 15px 0;
    color: white;
}

.top_value_col{
    margin-top: 10px;
}

.top_values_header{
    /* text-align: center; */
    color: #c1ff72;
}

.advatage_data{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.advantage_icon{
    height:70px;
    width:70px;
    margin: 0 auto;
}

.about_us{
    background-color: #c1ff72;
    color: black;
    font-weight:bold;
    font-size: 18px;
    width:200px;
    display: block;
    border: none;
}

.about_us:hover{
    background-color: #c1ff72;
    border: 1px solid white;
    color:black;
}

/* Subscribe Section */

.subscribe_section{
    background-image: url('../../Images/Home/subscribe.png');
    height: 370px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px 0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.subscribe_section .form-group{
    display: contents;
}

.subscribe_section input{
    width:40%;
    margin-top: 15%;
    background:transparent;
}

.subscribe_btn{
    background-color: #c1ff72;
    margin-top: 15%;
    margin-left: 10px;
    color: black;
    font-weight:bold;
    font-size: 18px;
    height:fit-content;
    display: block;
    border: none;
}

.subscribe_btn:hove{
    background-color: #c1ff72;
    border: 1px solid white;
    color:black;
}

/* Experience Section */

.experience{
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    color: white;
    height:150px;
    background-color:rgb(29 30 31);
    border-radius: 5px;
}

.experience div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.experience span{
    font-size:25px;
}

.book_tour{
    background-color: #c1ff72;
    color: black;
    font-weight:bold;
    font-size: 18px;
    width:200px;
    display: block;
    border: none;
}

.book_tour:hover{
    background-color: #c1ff72;
    border: 1px solid white;
    color:black;
}


/* Partner Section */

.partners_section{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.partner_header{
    text-transform: uppercase;
    color:#c1ff72;
    text-align: center;
}

.partner_icon{
    width: 250px;
}


/* Customer Review Section */

.cusreview_section{
    color: #ffffff;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.customerreview_header{
    text-transform: uppercase;
    color:#c1ff72;
    text-align: center;
}

.customerreview_header p{
    color: white;
    text-align: center;
}

.customer_col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin-top:15px;
}

.customer_img{
    border-radius: 50%;
    height:100px;
    width:100px;
    border: 2px solid black;;
    margin-left: 35%;
    z-index:100;
}

.customer_review{
    display: flex;
    background-color: #ffffff;
    border: 2px solid #c1ff72;
    border-radius: 8px;
    color: rgb(24, 24, 24);
    font-size: 16px;
    height: 350px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -50px;
}

.star_icon{
    width:40px;
    height:40px;
    color: gold;
}

.customer_text{
    overflow-wrap: anywhere;
    margin: 5px;
    text-align: center;
}



@media screen and (max-width:720px) {
    .information_heading #header{
        font-size:25px;
    }
}