.masthead_text1{
    font-size:75px;
    color: #c1ff72;
    font-style: italic;
}

.mainmasthead_col1{
    text-align: initial;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.mainmasthead_image{
    display: flex;
}

.mainImage{
    width:85%;
    height:70%;
    border-radius: 99% 1% 50% 50% / 49% 1% 99% 51%;
}

.explore_btn{
    background-color: #c1ff72;
    color: black;
    font-weight:bold;
    font-size: 18px;
    display: block;
    border: none;
    margin:2px;
}

.explore_btn:hover{
    background-color: #c1ff72;
    border: 2px solid white;
    color:black;
}

