body{
    /* background: linear-gradient(61deg, #c1ff72 50%, black 50%); */
    background: #252525;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.login_container{
    top:auto;
    position: absolute;
    border: 2px solid #c1ff72;
    margin: auto;
    right: 0%;
    left: 0%;
    display: flex;
    margin:45px auto;
    min-height:90vh;
}

.logo_section{
    display: flex;
    justify-content: center;
    align-items:center;
}

.login_select_account_section{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.login_select_options{
    margin: 10px;
    /* border: 2px solid white; */
    display: flex; 
    /* justify-content: space-around; */
    /* align-items: center; */
    width: 80%;
    /* border-radius: 20px; */
    color: white;
    flex-direction: column;
}

.login_select_options .nav-justified{
    border: none !important;
}

.login_select_options .nav-link{
    text-transform: uppercase;
    font-weight:bold;
    color: white;
}

.login_select_options .nav-link.active{
    background-color:#c1ff72;
    color:black;
    font-weight:bold;
}

.login_row{
    display: flex;
    align-items: center;
}

/* Perssonal Login Section */

.logo_row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.personal_login_logo{
    width:55%;
}

.sign_in_text{
    color: white;
    font-size:18px;
}

.Personal_Login_Form .input-group {
    margin: 20px auto;
    position: relative;
}

.Personal_Login_Form input{
    padding: 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 5px solid #c1ff72;
    background: transparent;
    color: white !important;
    margin-bottom: 20px;
}

.Personal_Login_Form input:focus{
    outline: none;
}

.Personal_Login_Form label {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #999;
    pointer-events: none;
    transition: 0.2s ease all;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out
  }

.Personal_Login_Form input:focus + label, .Personal_Login_Form input:valid + label{
    top: -15px;
    left: 0;
    font-size: 12px;
}

.fgt_pwd{
    font-size: 18px;
    color:white;
    cursor: pointer;
}

.Personal_Login_Form .submit_btn{
    background-color: #c1ff72;
    color: black;
    font-size: 18px;
    width: 50%;
    margin: 5px auto;
    display: block;
}

.privacy, .agreement, .tnc{
    color:#c1ff72;
    cursor: pointer;

}

.user_img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.avatar{
    width:150px;
    height:150px;
    border-radius: 50%;
}

.otp_back{
    border: none;
    text-align: left;
    color: #c1ff72;
}

.after_login_section .input-group {
    margin: 20px auto;
    position: relative;
}

.radio-input{
    padding: 0px !important;
    display: initial !important;
    width: auto !important;
    accent-color: #c1ff72;
}

.loggin-option-section{
    display: flex;
    justify-content: space-around;
}

.after_login_section input{
    padding: 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 5px solid #c1ff72;
    background: transparent;
    color: white !important;
    margin-bottom: 20px;
}

.after_login_section input:focus{
    outline: none;
}

.after_login_section label {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #999;
    pointer-events: none;
    transition: 0.2s ease all;
  }

  .after_login_section input:focus + label, .after_login_section input:valid + label{
    top: -15px;
    left: 0;
    font-size: 12px;
}

.after_login_section .otp_verify{
    background-color: #c1ff72;
    color: black;
    font-size: 18px;
    width: 50%;
    margin: 5px auto;
    display: block;
}


.verify_otp_link{
    color:black;
    text-decoration: none !important;
}

.show_pwd, .hide_pwd{
    position: absolute;
    right: 2px;
    top: 10px;
}

.form_error{
    color: red;
}

/* Travel agent Login Section */

.agent_Login_Form .input-group {
    margin: 20px auto;
    position: relative;
}

.agent_Login_Form input{
    padding: 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 5px solid #c1ff72;
    background: transparent;
    color: white !important;
    margin-bottom: 20px;
}

.agent_Login_Form input:focus{
    outline: none;
}

.agent_Login_Form label {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #999;
    pointer-events: none;
    transition: 0.2s ease all;
  }

.agent_Login_Form input:focus + label, .agent_Login_Form input:valid + label{
    top: -15px;
    left: 0;
    font-size: 12px;
}

.fgt_pwd{
    font-size: 18px;
    color:white;
    cursor: pointer;
}

.agent_Login_Form .submit_btn{
    background-color: #c1ff72;
    color: black;
    font-size: 18px;
    width: 50%;
    margin: 5px auto;
    display: block;
}


@media only screen and (max-width: 720px) {
    .logo_section {
      display: none;
    }

  }




